*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
}
.side-bar{
  width: 250px;
  height: 100vh;
  background-color: rgb(69, 74, 114);
}
.sidebarlist{
  height: auto;
  width: 100%;
  padding: 0;
}
.sidebarlist .row{
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}
.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #name{
  flex: 50%
}